<div class="modal fade" id="modal_order_import">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入发货单</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!--<form method="post" action="" enctype="multipart/form-data" style="margin-left:30px">-->
                        <lable class="control-label">请选择需要上传的文件</lable>
                        <!--<input type="file" name="file_stu" id="file_stu" style="margin:10px 0;text-align:center;">-->
                        <input type="file" id="input_file" class="file"/>
                        <!--</form>-->
                    </div>
                    <div class="col-xs-12" style="margin-top: 10px">
                        <lable id="success_text" class="control-label"></lable>
                    </div>
                    <div class="col-xs-12" style="margin-top: 6px">
                        <lable id="msg_text" class="control-label"></lable>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-success" ng-click="uploadclick()"
                >导入
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->